<template>
  <div id="app">
    <div class="container">
      <div class="mobile-form">
        <h2 class="title">
          Перевод с карты на карту
          <br />Visa/Mastercard
        </h2>
        <form @submit.prevent="onSubmit">
          <div class="form-group">
            <materialInput
              :class="[$v.form.senderCard.$error ? 'invalid': '']"
              :placeholder="'Номер карты     MM/ГГ     CVV2'"
              :label="'Карта отправителя'"
              v-mask="'#### #### #### #### ##/## ###'"
              v-model="form.senderCard"
            >
              <span class="icon"></span>
            </materialInput>
            <transition name="scale-anim">
              <div v-if="$v.form.senderCard.$error" class="error-message">
                Поле является обязательным. Заполните корректно в формате:
                <br />9999 9999 9999 9999 99/99 999
              </div>
            </transition>
          </div>
          <div class="form-group">
            <materialInput
              :class="[$v.form.recipientCard.$error ? 'invalid': '']"
              :placeholder="'Номер карты'"
              :label="'Карта получателя'"
              v-model="form.recipientCard"
              v-mask="'#### #### #### ####'"
            >
              <span class="icon"></span>
            </materialInput>
            <transition name="scale-anim">
              <div v-if="$v.form.recipientCard.$error" class="error-message">
                Поле является обязательным. Заполните корректно в формате:
                <br />9999 9999 9999 9999
              </div>
            </transition>
          </div>
          <div class="form-group col-1-2">
            <materialInput
              :class="[$v.form.summ.$error ? 'invalid': '']"
              :label="'Сумма перевода'"
              v-model="form.summ"
              @keyup="priceMask"
            />
            <transition name="scale-anim">
              <div v-if="$v.form.summ.$error" class="error-message">
                Минимальная сумма 1 грн.
                <br />Допустимый формат через "."
              </div>
            </transition>
          </div>
          <div class="form-group">
            <materialInput :label="'Комментарий'" v-model="form.comment" />
          </div>
          <div class="form-group">
            <materialInput
              :class="[$v.form.recipientPhone.$error ? 'invalid': '']"
              :label="'Уведомить получателя по телефону'"
              v-mask="['+380#########']"
              v-model="form.recipientPhone"
            />
            <transition name="scale-anim">
              <div v-if="$v.form.recipientPhone.$error" class="error-message">
                Заполните корректно в формате:
                <br />+3809999999
              </div>
            </transition>
          </div>
          <div class="form-group">
            <p>
              Сумма к списанию:
              <strong>{{total}} грн</strong>
            </p>
            <p class="secondary-text">Включая комиссию {{commission}} грн</p>
          </div>
          <div class="form-group">
            <button type="submit">Перевести</button>
          </div>

          <div class="form-group">
            <label>
              <input
                :class="[$v.form.agree.$error ? 'invalid': '']"
                v-model="form.agree"
                type="checkbox"
              />
              <span class="checkbox">
                <i class="check"></i>
              </span>
              <span>
                Я согласен с условиями
                <strong>Публичного предложения и Тарифамы</strong>
              </span>
            </label>
          </div>
        </form>
        <div class="form-result">
          <transition name="scale-anim">
            <pre v-if="submited">
              {{form}}
            </pre>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { phoneMask } from "./helpers/validation";
import { required, minValue, sameAs, minLength } from "vuelidate/lib/validators";
import materialInput from "./components/forms/materialInput";
export default {
  name: "app",
  components: { materialInput },
  data: () => {
    return {
      submited: false,
      priceRegexp: /^\d+(.\d{1,2})?$/gm,
      total: "XXXXX.XX",
      form: {
        recipientPhone: "",
        recipientCard: "",
        senderCard: "",
        summ: "",
        comment: "",
        agree: false
      }
    };
  },
  validations: {
    form: {
      recipientPhone: { phoneMask },
      recipientCard: { required, minLength:  minLength(19)},
      senderCard: { required, minLength: minLength(29) },
      summ: { required, minValue: minValue(1) },
      agree: { sameAs: sameAs(() => true) }
    }
  },
  computed: {
    commission: function() {
      if (!isNaN(this.total)) {
        const num = this.total  - parseFloat((this.total - 5) / 1.01);
        return Math.round(num * 100) / 100;
      } else {
        return "XXX.XX";
      }
    }
  },
  methods: {
    onSubmit() {
      this.submited = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
    },
    updatedtotal(val) {
      const num = parseFloat(val * 1.01 + 5);
      this.total = Math.round(num * 100) / 100;
    },
    priceMask() {
      let value = this.form.summ.replace(/[^0-9.]/g, "");
      value = value.split("");
      let hasDot = false;
      const newArr = value.filter((val, index) => {
        if (!isNaN(val) || val === ".") {
          if (val === ".") {
            if (!hasDot) {
              hasDot = true;
              return val;
            }
          } else {
            if (hasDot) {
              const dotIndex = value.indexOf(".");
              if (index - dotIndex <= 2) {
                return val;
              }
            } else {
              return val;
            }
          }
        }
      });
      this.form.summ = newArr.join("");
      this.updatedtotal(this.form.summ);
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.form-result {
  overflow: hidden;
}
.scale-anim-enter-active,
.scale-anim-leave-active,
.scale-anim-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}
.scale-anim-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}
.scale-anim-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}
.scale-anim-leave-active {
  position: absolute;
}
.scale-anim-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}

.secondary-text {
  color: #7f7f7f;
  font-size: 0.85em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.mobile-form {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  overflow: hidden;
}
.title {
  margin-bottom: 40px;
}
.icon {
  position: relative;
  height: 12px;
  width: 19px;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    border: 2px solid #999999;
    position: absolute;
    width: 16px;
    border-radius: 1px;
  }
  &::before {
    top: 0px;
    height: 4px;
  }
  &::after {
    top: 6px;
    height: 6px;
  }
}
[type="submit"] {
  height: 50px;
  border-radius: 3px;
  background: #ffef00;
  transition: 0.3s;
  color: #000;
  border: none;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  &:disabled {
    color: #637282;
  }
}
.col-1-2 {
  width: 50%;
}
.form-group {
  margin-bottom: 20px;
  label {
    cursor: pointer;
  }
}
p {
  padding-bottom: 10px;
}
[type="checkbox"] {
  opacity: 0;
  display: none;
  & + .checkbox {
    border: 1px solid #000;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateY(-25%);
    margin-right: 10px;
    .check {
      width: 12px;
      height: 5px;
      display: inline-block;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      transition: 0.3s;
      transform: rotate(180deg) scale(0);
      opacity: 0;
      background: transparent;
    }
  }
  &:checked + .checkbox {
    .check {
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
  &.invalid + .checkbox {
    border: 1px solid red;
  }
}
.mobile-form form .invalid /deep/ input {
  border-bottom-color: red;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.error-message {
  padding-top: 5px;
  font-size: 0.75rem;
  color: #db2828;
}
</style>
