<template>
  <div
    :class="[
      hasIcon ? 'with-icon' : '',
      label ? 'with-label' : '',
      active ? 'active' : ''
    ]"
    class="input-field"
  >
    <label>
      <span class="slot-icon" v-if="hasIcon">
        <slot />
      </span>
      <input
        :placeholder="placeholder"
        :value="value"
        @blur="onBlur()"
        @focus="onFocus()"
        @input="updateValue($event.target.value)"
        @keyup="onkeyup"
        :type="type"
      />
      <span class="label-text" v-if="label">{{label}}</span>
    </label>
  </div>
</template>
<script>
export default {
  name: "materialInput",
  props: {
    value: {
      type: String,
      default: ""
    },
    type: {
      type: String,
      default: "text",
      validator: (val) => ['text', 'number'].includes(val)
    },
    placeholder: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      focus: false
    };
  },
  computed: {
    hasIcon() {
      return !!Object.keys(this.$slots).length;
    },
    active() {
      if (this.value) {
        return true;
      }
      if (this.focus) {
        return true;
      }
      return false;
    }
  },
  methods: {
    onkeyup($event) {
      this.$emit("keyup", $event);
    },
    updateValue(value) {
      this.$emit("input", value);
    },
    onFocus() {
      this.focus = true;
    },
    onBlur() {
      this.focus = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.input-field {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 15px 0 0 0;
  input {
    height: 50px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding-left: 15px;
    width: 100%;
    outline: none;
    transition: 0.3s;
    &::placeholder {
      transition: 0.3s;
    }
    &:focus {
      border-bottom-color: #26a69a;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .label-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    left: 15px;
    font-size: 1rem;
    display: inline-block;
    background: #fff;
    padding: 0 10px;
  }
  &.with {
    &-icon {
      .slot-icon {
        position: absolute;
        left: 20px;
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
      }
      input {
        padding-left: 50px;
      }
      .label-text {
        left: 50px;
      }
    }
    &-label {
      input::placeholder {
        opacity: 0;
      }
    }
  }
  &.active {
    input::placeholder {
      opacity: 1;
    }
    .label-text {
      left: 15px;
      transform: translateY(-34px) scale(0.8);
    }
  }
}
</style>